html,body{
    display:flex;
    margin:0;
    height:100%;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.display{
    width: 100%;
    flex-grow: 1.2;
    font-size: 60px;
    color:#FDFEFD;
    display: flex;
    justify-content: right;
    align-items: end ;
    padding-right: 65px;
 }

.container{
    background-color: black;
    display: flex;
    margin:auto;
    width:370px;
    height: 500px;
    flex-direction: column;
    border-radius: 10px;
    align-items:center;
}

.row{
    flex:1;
    width:100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.number, .zero{
    background-color: #333333;
    color: #EBEBEB;
}

.zero{
    border-radius: 26px;
    width:38%;
    padding-left: 5%;
    text-align: left;
}

.clear, .sign, .percent{
    background-color: #A5A5A5;
}

.operator{
    color: #FBF7EA;
    font-size: 26px;
    background-color: #FE9400;
}

.right{
    display: flex;
    justify-content: space-evenly;
}


.bottom{
    margin-bottom: 4%;
}
button{
    width:15%;
    border-radius: 50%;
    border: 0;
    height:80%;
    font-size: 24px;
}